/* styles.css */

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #a855f7, #f472b6);
  margin: 0;
  padding: 0;
}

/* .container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(135deg, #a855f7, #f472b6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
select {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  background: linear-gradient(135deg, #a855f7, #f472b6);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.main-bg {
  background: #fff;
  padding: 20px 20px;
  border: 5px dashed #a855f7;
}
.navbar {
  margin-bottom: 20px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.btn.nav-link {
  color: rgba(255, 255, 255, 0.75);
  background: none;
  border: none;
  padding: 0;
}

.btn.nav-link:hover {
  color: rgba(255, 255, 255, 1);
}
